header{
    padding: 40px 40px;
}

body{
    width: 1440px;
    height: 1024px;
    top: 622px;
    left: -2277px;
    background: #EFF1FA;
}

p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0;
}


.input-encriptar{
    position: absolute;
    width: 577px;
    height: 750px;
    top: 168px;
    left: 240px;
    border: none;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}


.input-desencriptar{
    position: absolute;
    padding: 10px;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;

}

.muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;


}

.mensajesEncriptado{
    padding: 10px;
    position: absolute;
    width: Fixed (336px);
    height: Hug (122px);
    top: 619px;
    left: 1032px;
    gap: 16px;

}

.mensajeEncontrado{
    width: 336px;
    height: 58px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
    

}

.textoDeseado{
    width: 336px;
    height: 48px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
    
}

.botones{
    position: absolute;
    margin: 40px;
    width: Fixed (680px);
    height: Hug (67px);
    top: 885px;
    left: 240px;
    gap: 24px;

}

.container__boton1{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background: rgba(10, 56, 113, 1);
    color: white;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}

.container__boton2{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background: rgba(216, 223, 232, 1);
    color: rgba(10, 56, 113, 1);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.container__boton3{
    position: absolute;
    width: 336px;
    height: 67px;
    top: 885px;
    left: 1032px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    color: rgba(10, 56, 113, 1);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;




}




.copyright{
    color: #FFFFFF;
    font-size: 20px;
    margin: 20p;
    text-align: center;
}

 footer{
    position: relative;
    top: 100%;
    background: url(img/fondo\ footer.jpg);
    padding: 40px;
}