header{
    padding: 40px 40px;
}

body{
    width: 1440px;
    height: 1024px;
    top: 622px;
    left: -2277px;
    background: linear-gradient(190deg,#EFF1FA,rgb(232, 243, 250) );
    background-repeat: no-repeat;
    background-size: 1440px 1155px;
}

p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0;
}


.input-encriptar{
    position: absolute;
    background-color:#fffff0;
    width: 577px;
    height: 750px;
    max-width: 577px;
    max-height: 750px;
    top: 168px;
    left: 240px;
    border-radius: 30px;
    padding: 20px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}


.input-desencriptar{
    position: absolute;
    padding: 10px;
    width: 400px;
    height: 944px;
    max-height: 944px;
    max-width: 400px;
    background-color: #fffff0;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;

}

.muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;


}

.mensajesEncriptado{
    padding: 10px;
    position: absolute;
    width: 336px;
    height:122px;
    top: 619px;
    left: 1032px;
    gap: 16px;

}

.mensajeEncontrado{
    width: 336px;
    height: 58px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
    

}

.textoDeseado{
    width: 336px;
    height: 48px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
    
}

.botones{
    position: absolute;
    width: 680px;
    height:67px;
    top: 950px;
    left: 222px;
    gap: 24px;
}

.container__boton1{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background: rgba(10, 56, 113, 1);
    color: white;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}

.container__boton1:hover{

    background:#1e878f;
    color:#02e202;
    transition: 1000ms;
}

.container__boton2{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background: rgba(216, 223, 232, 1);
    color: rgba(10, 56, 113, 1);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.container__boton2:hover{

    background:#1e878f;
    color:#02e202;
    transition: 1000ms;
}

.container__boton3{
    position: absolute;
    width: 336px;
    height: 67px;
    top: 885px;
    left: 1045px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    color: rgba(10, 56, 113, 1);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.container__boton3:hover{

    background:#1e878f;
    color:#02e202;
    transition: 1000ms;
}


 footer{
    position: relative;
    top: 100%;
    background: url(img/img-fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px;
    opacity: 50%;
}
.copyright{
    color: #000000;
    font-size: 30px;
    text-align: center;
    opacity: 100%;
}



